* {
	margin:0;
	padding:0;
}

h1 {
	text-align: center;
	background: black;
	color:white;
}

h2,h3 {
	text-align: center;
	margin:1rem 0rem;
}

html {
	width: 100%;
	background: white;
}

body {
	width: 100%;
	max-width: 800px;
	background: #f4f4f4;
	margin:auto;
	padding: 2rem;
	min-height: 100vh;
}

ol {
	margin-left: 2rem;
}

nav {
	height: 50px;
	background: grey;
	padding: 1rem;
}

nav ul {
	display: block;
	width: calc(100% - 2rem);
	display: flex;
	list-style-type: none;
	background: black;
	padding: 1rem;
}

nav ul a {
	margin-top:1rem;
	padding: 1rem;
	color:white;
	text-decoration: none;
}

nav ul a:hover {
	color:blue;
}

.download {
	background: grey;
	color:white;
}

.download a {
	padding: 1rem;
	background: linear-gradient(to bottom, lightgreen, green, darkgreen);
	color:white;
	text-decoration: none;
	font-weight: bolder;
	margin:1rem 1rem;
	display: block;
	width: 200px;
	border-radius: 3px;
	text-align: center;
}

.download a:active {
	background: linear-gradient(to bottom, darkgreen, green, lightgreen);
}